.navbar {
  background-color: black !important;
}

.navbar .nav-link {
  color: #fff !important;
  position: relative;
  margin: 0 1rem;
  display: inline-block;
  font-family: monospace;
  text-decoration: none;
}

.navbar .nav-link > span {
  display: inline-block;
  position: relative;
  padding-left: 2.7rem;
}

.navbar .nav-link > span::before {
  content: " cd /";
  position: absolute;
  left: 0;
  color: #07589D;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.navbar .nav-link > span::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 2.8em;
  width: calc(100% - 2.8em);
  height: 2px;
  background-color: #bbb;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.navbar .nav-link:hover > span::before {
  opacity: 1;
}

.navbar .nav-link:hover > span::after {
  transform: scaleX(1);
}

/* STILI TYPEWRITER */
.navbar .navbar-brand {
  color: #fff !important;
  font-family: monospace;
  min-width: 200px;
  position: relative;
  padding-right: 8px;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
}


.navbar-brand {
  position: relative;
}

.navbar-brand::after {
  content: "|";
  animation: blink 1s step-end infinite;
  color: white;
  margin-left: 1px;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none !important;
  }
}
