
.background-wrapper {
  background-color: black;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  min-height: 100vh;
  padding-top: 60px; /* lascia spazio sotto la navbar fissa */
}

