
.background-wrapper {
  background-color: black;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-top: 60px;
  position: relative;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Disabilitiamo lo scroll normale */
}

.section {
  height: 100vh;
  width: 100%;
}

.section-wrapper {
  min-height: 100vh;
  scroll-margin-top: 80px;
  position: relative;
  overflow: visible;
  padding: 2rem 0;
}

.container.mt-3 {
  margin-top: 0 !important;
}


